body {
    background-color: gainsboro;
    font-family: sans-serif;
}

.img-row-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 0;
}

.img-container {
    position: relative;
    z-index: 0;
}

.base-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.overlay-img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.navbar {
    background-color: darkslategray;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    margin-bottom: 3em;
}

.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    z-index: 3;
}

.navbar a:hover {
    background-color: slategray;
    color: white;
    font-style: italic;
    z-index: 2;
}

a.navbar-curr {
    background-color: white;
    color: black;
}

.legend-wrapper {
    background-color: white;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
} 

#dress-legend .legend-bar {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 10px;
}

#count-legend .legend-bar{
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    padding: 10px;
} 

.legend-title {
    font-weight: bold;
}

.legend-item {
    display: grid; 
    grid-template-columns: 30px 70px;
}

.legend-item div.legend-color {
    width: 25px; 
    height: 25px; 
    border: 2px solid black;
    border-radius: 4px;
}

.legend-item div.legend-text {
    text-align: left;
    margin-left: 5px;
}
